/*******************__  __**************************************  
   ____ ___  __  __/ /_/ /_ 
  / __ `__ \/ / / / __/ __ \
 / / / / / / /_/ / /_/ / / /
/_/ /_/ /_/\__, /\__/_/ /_/ 
		  /____/                             
**********************************************************/
:root {
  --gray: rgb(159, 159, 169);
}

*, *:before, *:after {
    box-sizing: border-box;
}
body{
	margin: 0px auto; 
}
.grid {
	padding: 50px 0;
	text-align: center;
}
.grid > div {
	display: inline-block;
	width: 200px;
}
.listings:nth-child(-n+3){

}
h3 {
	font-size: 15px;
	color: var(--gray);
}