/*********************************************************
					__  __  
   ____ ___  __  __/ /_/ /_ 
  / __ `__ \/ / / / __/ __ \
 / / / / / / /_/ / /_/ / / /
/_/ /_/ /_/\__, /\__/_/ /_/ 
		  /____/                       
Using Myth.io to style this stylesheet      
**********************************************************/
:root {
  --gray: rgb(159, 159, 169);
  --center: 0 auto;
}
/**************************
***********FONT***********
***************************/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700,300italic,400italic,700italic);
/**************************
**********GLOBAL***********
***************************/
*, *:before, *:after {
    box-sizing: border-box;
}
body{
	max-width: 960px;
	margin: var(--center); 
	font-family: 'Josefin Sans', sans-serif;
}
/**************************
***********TEXT***********
***************************/
h1{
	padding-top: 100px;
	padding-bottom: 50px;
	font-size: 7em;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	margin-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}
h3 {
	margin: 25px 0px;
	padding: 25px 0px;
	font-size: 15px;
	color: var(--gray);
	text-align: left;
	text-transform: uppercase;
	border-top: 1px solid var(--gray);
	border-bottom: 1px solid var(--gray);
	height: 150px;
}
h4{
	color: var(--gray);
}
.header h2 {
	padding-top: 60px;
}
.header img {
	display: block;
	margin: var(--center);
}
.footer p {
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
}
.back {
	font-size: 1.5em;
}
/**************************
***********GRID************
***************************/
.grid {
	margin: 150px auto;
	text-align: center;
}
.grid > div {
	display: inline-block;
	vertical-align: top;
	width: 250px;
	margin: 0px 25px;
}
.listing img {
	width:  250px;
  	height: 250px;
}
.listing {
	max-height: 600px;
}
.listing a{
	text-decoration: none;
}
/**************************
******SINGLE LISTING*******
***************************/
.single_Listing {
	max-width: 800px;
	margin: 40px auto;
}
.single_Listing img {
	display: block;
	margin: var(--center);
}
.single_Listing h2 {
	display: inline-block;
}
.single_Listing h3 {
	text-align: center;
	font-size: 1.5em;
}
.single_Listing h4 {
	display: inline-block;
}
.buy {
	display: block;
	margin: 80px auto 150px auto;
	font-size: 3em;
	font-weight: 700;
	background-color: rgb(159, 159, 169);
	padding: 20px 0px;
	line-height: 1em;
	color: rgb(245, 245, 245);
	text-decoration: none;
	text-align: center;
}
.price {
	display: block;
	text-align: center;
}