<div class="header">
	<h1>Stylin' &amp; Profilin'</h1>
	<hr>
	<h2>Random Cool Things</h2>
	<img src="./img/arrow.png">
</div>
<div class="grid">
		<div class="back">Back</div>
		<div class="single_listing">
			<img src="<%= listings.MainImage.url_570xN %>">
			<h3><%= title %></h3>
			<h2>$<%= price %></h2>
			<p><%= user_id %></p>
			<p><%= description %></p>
		</div>
</div>
<div class="footer">
	<p>Brought to you by J &amp; K</p>
</div>