<div class="currency">
	<%= currency_code %>
</div>

<div class="price">
	<%=price %>
</div>

<div class="title">
	<%title%>
</div>

<div class="topBar">
	<div class="topBarContent">
		A Collection Of Japanese Katanas On Etsy
	</div>
</div>
<div class="content">
	<div class="itemsGrid">
		
	</div>
</div>
<div class="footer">
	Supplying Ninjas Since the Edo Period
</div>
