<div class="header">
	<h1>Stylin' &amp; Profilin'</h1>
	<hr>
	<h2>Random Cool Things</h2>
	<img src="./img/arrow.png">
</div>
<div class="grid listings">
	<% _.forEach(results, function(listings) { %>
		<div listing="<%= listings.listing_id %>" class="listing">
			<img src="<%= listings.MainImage.url_570xN %>">
			<h3><%= listings.title %></h3>
			<h2>$<%= listings.price %></h2>
		</div>
	<% }); %>
</div>
<div class="footer">
	<p>Brought to you by J &amp; K</p>
</div>