
<div class="name">
	<%= name %>
</div>

<div class="id">
<%= id %>	
</div>
	

<div class="topBar">
	<div class="topBarContent">
		A Collection Of Japanese Katanas On Etsy
	</div>
</div>
<div class="sidebar">
	<h3 class="user"></h3>
	<div class="userImage"></div>
	<div class="location"></div>
	<div class="shopInfo"></div>
	<div class="reviews"></div>
	<div class="sales"></div>
	<div class=""></div>
</div>
<div class="content">
	<div class="userGrid">
		
	</div>
</div>
<div class="footer">
	Supplying Ninjas Since the Edo Period
</div>

